<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tango</title>

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 
  <!--css-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"> 
  <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>

  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.html"> <img src="../../static/img/home.png" height="30" width="30">Valverde - Health & App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=".../index.html">Home</a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Servicios</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Medico</a>
              <a class="dropdown-item" href="#">Fisioterapia</a>
              <a class="dropdown-item" href="#">Psicologia</a>
              <br>
              <a class="dropdown-item" href="#">Software</a>
              <a class="dropdown-item" href="#">Inmoviliario</a>
              <a class="dropdown-item" href="#">Tango</a>
            </div>
          </li>   
        
          <li class="nav-item">
            <a class="nav-link" href="../developer.html">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../calculador.html">prueba</a>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Idiomas</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Español</a>
              <a class="dropdown-item" href="#">Ingles</a>
              <a class="dropdown-item" href="#">Alemán</a>
              <a class="dropdown-item" href="#">Ruso</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../about.html">About</a>
          </li>         
        </ul>
        <span class="navbar-text">
          H & A
        </span>
      </div>
    </div>
  </nav>
  <div class="container">
<body>
  <h1>Servicios y Experiencia:</h1>

  <div>
      <h3>Servicios:</h3>
      <li>Clases de Tango</li>
      <li>Tango Terapia (Fisioterapia y Tango)</li>
      <li>Show de Tango</li>
      <li>Ejercicio de prevenscion y tratamiento de bailarines o deportistas</li>
      <img src="../../static/img/tangoterapia.jpg">
      <img src="../../static/img/tangoterapia2.jpg">
      <img src="../../static/img/show.jpg">
      <img src="../../static/img/show2.jpg">
      <p>Clases de Ta</p>
      <h3>Experiencia:</h3>
      <li>Clases en Chile, Argentina, Uruguay, Rusia y Alemania</li>
      <li>Presentaciones y participacion en show: Temuco, Chile; Montevideo, Uruguay; Mundial tango salon Argentina.</li>
      <li>Participacion en festivales,  maratones y milongas desde el sur de Chile hasta el norte de Rusia, algunas ciudades a destacar:  Moscú, Sant Petesburgo, Mannheim, Varsovia, Cracovia, Kyiv, Odessa, Berlin, Punta del Este, entre otros.</li>
      <p></p>
      <img src="../../static/img/paris.jpg" height="450" width="350" >
      <img src="../../static/img/alemaniaa.jpg" height="140" width="140">
      <img src="../../static/img/teatrokat.jpg"  height="140" width="140">
      <img src="../../static/img/Odesa1.jpg" height="300" width="450">
      <img src="../static/img/tgomvd.jpg"  height="140" width="240">
      <img src="../../static/img/teatro.jpg" >
      <p>Campeonato mundial</p>
      
  </div>
  
</body>
</div>
<div class="footer">®2023 by XaRrUa Ltd. Все права защищены |  <img src="../../static/img/steto.png" height="15" width="15"><img src="../../static/img/notebook.png" height="15" width="15"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</html>
