<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Josua</title>

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 
  <!--css-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"> 
  <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>

  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../../index.html"> <img src="../../static/img/home.png" height="30" width="30">Valverde - Health & App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=".../index.html">Home</a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Servicios</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Medico</a>
              <a class="dropdown-item" href="#">Fisioterapia</a>
              <a class="dropdown-item" href="#">Psicologia</a>
              <br>
              <a class="dropdown-item" href="#">Software</a>
              <a class="dropdown-item" href="#">Inmoviliario</a>
              <a class="dropdown-item" href="#">Tango</a>
            </div>
          </li>   
        
          <li class="nav-item">
            <a class="nav-link" href="../developer.html">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../calculador.html">prueba</a>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Idiomas</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Español</a>
              <a class="dropdown-item" href="#">Ingles</a>
              <a class="dropdown-item" href="#">Alemán</a>
              <a class="dropdown-item" href="#">Ruso</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../about.html">About</a>
          </li>         
        </ul>
        <span class="navbar-text">
          H & A
        </span>
      </div>
    </div>
  </nav>
  <div class="container">
  <header>
    <div class="d-flex">
      <div class="p-2 flex-fill"><img src="../../static/img/jr.jpg"></div>
      <div class="p-2 flex-fill">
      <br>
      <br>
      <br>
      <h1>JOSUE VALVERDE BELLO</h1></div>
      <div class="p-2 flex-fill"></div>
    </div>
    </header>
    <main>
    
    
    <div class="d-flex justify-content-center"><h2>Softwareentwickler und Physiotherapeut</h2></div>
      
    <div class="redes">
      <a href="https://github.com/xarrua/Python-Keepcoding" target="_self"><img src="../../static/img/github.png" height="20" width="30"></a>
      <a href="https://www.linkedin.com/in/josu%C3%A9-valverde-bello-86112876/"><img src="../../static/img/in.png" height="20" width="30"></a>
      <a href="https://www.facebook.com/jvalverdebello"><img src="../../static/img/fb.png" height="20" width="30"></a>
      <a href="https://www.instagram.com/josuvalverde/"><img src="../../static/img/ig.jpg" height="20" width="30"></a>
      <a href=""><img src="../../static/img/mail1.png" height="20" width="30"></a>
      <a href=""><img src="../../static/img/whatsapp.png" height="20" width="30"></a>
      <br>
      <h3>Sprachen:</h3>
      <a href="../josu.html">Spanish</a>
      <a href="./aleman.html">Deutsch</a>
      <a href="./ruso.html">Русский</a>>>
    <br>
    <br>
    </div>
    <div class="row">
      <div class="col-4">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Präsentation</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Persönliche Informationen</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Berufserfahrung</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Bildung</a>
          <a class="list-group-item list-group-item-action" href="#list-item-5">Kurse</a>
          <a class="list-group-item list-group-item-action" href="#list-item-6">Soft Skills</a>
          <a class="list-group-item list-group-item-action" href="#list-item-7">Sprachen</a>
          <a class="list-group-item list-group-item-action" href="#list-item-8">Otras Actividades</a>
          <a class="list-group-item list-group-item-action" href="#list-item-9">Referenzen</a>
        </div>
      </div>
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
          <h4 id="list-item-1">Präsentation</h4>
          <p>Ich bin ein begeisterter Physiotherapeut, der sich auf die Rehabilitation von muskuloskelettalen und respiratorischen Verletzungen spezialisiert hat. Meine klinische Erfahrung umfasst die Behandlung von Patienten mit einer Vielzahl von Erkrankungen, von Sportverletzungen bis hin zu chronischen Krankheiten, mit Erfahrung in der präklinischen, Notfall- und Intensivversorgung. Ich suche immer nach Möglichkeiten, die Ergebnisse meiner Patienten zu verbessern, und das hat mich dazu gebracht, mehr über Technologie und Entwicklung zu lernen.</p>
          <p>Heutzutage kombiniere ich meine Erfahrung in der Physiotherapie mit Tanzfähigkeiten (Tango) und Entwicklung, um technologische Lösungen zu schaffen, die den Patienten helfen, sich schneller und mit besseren Ergebnissen zu erholen. Ich habe an Projekten zur Entwicklung von mobilen und Desktop-Anwendungen gearbeitet, um Patienten bei der Verfolgung ihrer Behandlungen zu unterstützen, ihre Übungen zu protokollieren und Anleitung zu ihrem Fortschritt und ihrer Gesundheit im Allgemeinen zu erhalten.</p>
          <p>Außerdem liebe ich es zu unterrichten und mein Wissen zu teilen. Ich habe Tango- und Therapiekurse in verschiedenen Ländern gegeben und hoffe, Fortschritte in der Technologie in diese Bereiche zu integrieren. Ich glaube, dass kontinuierliche Bildung der Schlüssel ist, um in einer so schnelllebigen Branche wie Gesundheit und Technologie auf dem neuesten Stand zu bleiben.</p>
          <p>Wenn Sie jemanden suchen, der Fähigkeiten in Physiotherapie, Entwicklung und anderen Alternativen kombinieren kann, um innovative Lösungen im Gesundheitsbereich zu schaffen, zögern Sie nicht, mich zu kontaktieren. Ich würde gerne mit Ihnen darüber sprechen, wie wir zusammenarbeiten können, um das Leben der Menschen zu verbessern.</p>
          <h4 id="list-item-2">Persönliche Informationen</h4>
          <p>Nombre completo: Josué  Manuel Valverde Bello</p>
          <p>Geburtsdatum: 12. Februar 1989</p>
          <p>Nationalität: Uruguayisch von Geburt, chilenisch, ecuadorianisch und (p) spanisch von Abstammung</p>
          <p>Kontaktform: unter Icons unter dem Profilfoto</p>
          <h4 id="list-item-3">Berufserfahrung</h4>
          <p>Aktuell - Freelancer: Unabhängiger Entwickler und Physiotherapeut. Praxis, Hausbesuche und Telemedizin seit jeher.</p>
          <p>2022 - Verschiedene öffentliche und private Gesundheitseinrichtungen in Montevideo, Uruguay. Als Physiotherapeut im Kinderkrankenhaus Pereira Rossell und in Privatkliniken in Carrasco (Platinum, CMC). Hauptsächlich Pädiatrische Physiotherapie und Atemtherapie, einschließlich Hausbesuchen. </p>
          <p>2021 - Hospital Sotero del Río, Santiago de Chile. Kinesiologe in der COVID-Erwachsenen-Notaufnahme. Hauptfunktion der dringenden Atemtherapie und Wiederbelebung (Beatmung und Atemwegsmanagement)  </p>
          <p>2019-2021 - Visum Working Holiday Alemania. Freiberufler: Ich habe verschiedene Arbeitsaktivitäten im Bereich Privatgesundheit, Tanztherapie und Reinigung in Unternehmen und Häusern durchgeführt. Ich habe vier Praktika im deutschen Gesundheitssystem absolviert: Physiotherapie-Praxis, Neurologie, Altenheim und häusliche Pflege. </p>
          <p>2014-2019 - MEDICA URUGUAYA, Montevideo Uruguay. Gesundheitsversorgungskomplex, in dem ich in verschiedenen Bereichen der gegenseitigen Versicherung tätig war: Leitender Arzt in der Zentralen Poliklinik, aber mit Pädiatrieabdeckung, Intensivpflege und ICI (Rehabilitation in Herzchirurgie).  </p>
          <p>2013-2014 - Adventist Clinic in Chile. Kinesiologe in Poliklinik und stationärer Behandlung. </p>
          <p>2009-2012 - Hilfe bei Community Medical Operations. </p>
          <h4 id="list-item-4">Bildung</h4>
          <p>2023 - Bootcamp: Full Stack Python Developer, KeepCoding.</p>   
          <p>2012 - Abschluss: Kinesiologe, Universidad Mayor, Chile.</p>   
          <p>Sekundarschule. Adventist Education Center von Los Angeles, Chile.</p>   
    
          <h4 id="list-item-5">Kurse</h4>
          <p>
            <li>2023 - Bootcamp Full Stack Python Developer.</li>
            <li>2021 - Diplom: Vitaler und Lungenbeatmung in Notfällen.</li>
            <li>2020 - Einführung in JAVA, Python, Html, CSS, JS.</li>
            <li>2019 - Russisch, Polytechnische Universität St. Petersburg, Russland.</li>
            <li>22020 - Deutsch, Balylon Sprachschule, Frankfurt, Deutschland.</li>
          </p>
          <h4 id="list-item-6">Soft Skills</h4>
          <p>
          <li>Teamarbeit.</li>
          <li>Problemlösung.</li>
          <li>Empathie.</li>
          </p>
          <h4 id="list-item-7">Sprachen</h4>
          <p>
            <li>Muttersprache Spanisch.</li>
            <li>Englisch mittleres Niveau.</li>
            <li>Deutsch mittleres Niveau.</li>
            <li>Grundkenntnisse in Russisch.</li></p>
          <h4 id="list-item-8">Referenzen</h4>
          <p>
            <li>Aufsichtsbehörde: Yhanira Vilches, Hospital Pereira Rossell, Montevideo, Uruguay.</li>
            <li>Dra. Gisella Abos-Padilla, Abos-Padilla-Praxis, Mannheim, Deutschland.</li>
            <li>Aufsichtsbehörde: Fernando Garcia, Medica Uruguaya, Montevideo, Uruguay.</li>
            <li>Dr. Aldo Curiqueo, Adventist Clinic von Los Angeles, Chile.</li></p>
          </p>
          <h4 id="list-item-9">Andere Aktivitäten</h4>
          <p>Praktikum: Sport (Fußball, Basketball, Tischtennis, Leichtathletik), Musik (Klavier und Gitarre), Tanz (Tango).</p>
          
        </div>
      </div>
    </div>
   
  
</body>
</div>
<div class="footer">®2023 by XaRrUa Ltd. All Rights Reserved|  <img src="../../static/img/steto.png" height="15" width="15"><img src="../../static/img/notebook.png" height="15" width="15"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</html>


