<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Josua</title>

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 
  <!--css-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"> 
  <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>

  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../index.html"> <img src="../../static/img/home.png" height="30" width="30">Valverde - Health & App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=".../index.html">Home</a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Servicios</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Medico</a>
              <a class="dropdown-item" href="#">Fisioterapia</a>
              <a class="dropdown-item" href="#">Psicologia</a>
              <br>
              <a class="dropdown-item" href="#">Software</a>
              <a class="dropdown-item" href="#">Inmoviliario</a>
              <a class="dropdown-item" href="#">Tango</a>
            </div>
          </li>   
        
          <li class="nav-item">
            <a class="nav-link" href="../developer.html">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../calculador.html">prueba</a>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Idiomas</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Español</a>
              <a class="dropdown-item" href="#">Ingles</a>
              <a class="dropdown-item" href="#">Alemán</a>
              <a class="dropdown-item" href="#">Ruso</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../about.html">About</a>
          </li>         
        </ul>
        <span class="navbar-text">
          H & A
        </span>
      </div>
    </div>
  </nav>
  <div class="container">
  <header>
    <div class="d-flex">
      <div class="p-2 flex-fill"><img src="../../static/img/jr.jpg"></div>
      <div class="p-2 flex-fill">
      <br>
      <br>
      <br>
      <h1>JOSUE VALVERDE BELLO</h1></div>
      <div class="p-2 flex-fill"></div>
    </div>
    </header>
    <main>
    
    
    <div class="d-flex justify-content-center"><h2>Developer 
      y Lic. Fisioterapia</h2></div>
      
    <div class="redes">
      <a href="https://github.com/xarrua/Python-Keepcoding" target="_self"><img src="../../static/img/github.png" height="20" width="30"></a>
      <a href="https://www.linkedin.com/in/josu%C3%A9-valverde-bello-86112876/"><img src="../../static/img/in.png" height="20" width="30"></a>
      <a href="https://www.facebook.com/jvalverdebello"><img src="../../static/img/fb.png" height="20" width="30"></a>
      <a href="https://www.instagram.com/josuvalverde/"><img src="../../static/img/ig.jpg" height="20" width="30"></a>
      <a href=""><img src="../../static/img/mail1.png" height="20" width="30"></a>
      <a href=""><img src="../../static/img/whatsapp.png" height="20" width="30"></a>
      <br>
      <h3>Languages:</h3>
      <a href="../josu.html">Spanish</a>
      <a href="./aleman.html">Deutsch</a>
      <a href="./ruso.html">Русский</a>
    <br>
   
    <br>
    </div>
    <div class="row">
      <div class="col-4">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Presentation</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Personal Information</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Work Experience</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Education</a>
          <a class="list-group-item list-group-item-action" href="#list-item-5">Courses</a>
          <a class="list-group-item list-group-item-action" href="#list-item-6">Soft Skills</a>
          <a class="list-group-item list-group-item-action" href="#list-item-7">Sprachen</a>
          <a class="list-group-item list-group-item-action" href="#list-item-8">Otras Actividades</a>
          <a class="list-group-item list-group-item-action" href="#list-item-9">Referenzen</a>
        </div>
      </div>
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
          <h4 id="list-item-1">Presentation</h4>
          <p>I am an enthusiastic physiotherapist specialized in the rehabilitation of musculoskeletal and respiratory injuries. My clinical experience includes treating patients with a variety of conditions, from sports injuries to chronic diseases, with experience in preclinical, emergency, and intensive care. I am always looking for ways to improve my patients' outcomes, which has led me to learn more about technology and development.</p>
          <p>Nowadays, I combine my experience in physiotherapy with dance skills (Tango) and development to create technological solutions that help patients recover faster and with better results. I have worked on projects to develop mobile and desktop applications to support patients in tracking their treatments, logging their exercises, and receiving guidance on their progress and health in general.</p>
          <p>Additionally, I love teaching and sharing my knowledge. I have taught Tango and therapy courses in various countries and hope to integrate progress in technology into these areas. I believe that continuous education is the key to staying up-to-date in such a fast-paced industry as health and technology.</p>
          <p>If you are looking for someone who can combine skills in physiotherapy, development, and other alternatives to create innovative solutions in the health field, do not hesitate to contact me. I would love to talk with you about how we can work together to improve people's lives.</p>
          <h4 id="list-item-2">Personal Information</h4>
          <p>Full Name: Josué Manuel Valverde Bello</p>
          <p>Date of Birth: February 12, 1989</p>
          <p>Nationality: Uruguayan by birth, Chilean, Ecuadorian, and (p) Spanish by descent</p>
          <p>Contact form: under icons below the profile photo</p>
          <h4 id="list-item-3">Work Experience</h4>
          <p>Current - Freelancer: Independent Developer and Physiotherapist. Consultations, home visits, and telemedicine since always.</p>
          <p>2022 - Various public and private health institutions in Montevideo, Uruguay. As a Physiotherapist at Pediatric Hospital Pereira Rossell and private clinics in Carrasco (Platinum, CMC). Performing mainly pediatric physical and respiratory therapy, including home visits.</p>
          <p>2021 - Sotero del Río Hospital, Santiago de Chile. Respiratory Therapist in COVID Adult Emergency. Main function of Emergency Respiratory Therapy and Resuscitation (Mechanical Ventilation and Airway Management)  </p>
          <p>2019-2021 - Visa Working Holiday Germany. Freelancer: Various private health field jobs, dance therapy, and cleaning in companies and homes. I highlight 4 internships in the German Health System: Physiotherapy Practice, Neurology, Nursing Home, and Home Care. </p>
          <p>2014-2019 - MEDICA URUGUAYA, Montevideo Uruguay. Health assistance complex where I worked in different areas of the mutual: Head of Central Polyclinic but with coverage of Pediatrics, Intensive Care, and ICI treatments (Rehab. in cardiac surgery) </p>
          <p>2013-2014 - Adventist Clinic of Chile. Polyclinic and hospitalization Kinesiologist.</p>
          <p>2009-2012 - Help in Community Medical Operations. </p>
          <h4 id="list-item-4">Education</h4>
          <p>2023 - Bootcamp: Full Stack Python Developer, KeepCoding.</p>   
          <p>2012 - Abschluss: Kinesiologe, Universidad Mayor, Chile.</p>   
          <p>Sekundarschule. Adventist Education Center von Los Angeles, Chile.</p>   
    
          <h4 id="list-item-5">Courses</h4>
          <p>
            <li>2023 - Bootcamp Full Stack Python Developer.</li>
            <li>2021 - Diploma: Vital and Ventilatory Support in Emergencies.</li>
            <li>2020 - Introduction: JAVA, Python, Html, CSS, JS.</li>
            <li>2019 - Russian, Polytechnic University of St. Petersburg, Russia.</li>
            <li>2020 - German, Balylon Sprachschule, Frankfurt, Germany.</li>
          </p>
          <h4 id="list-item-6">Soft Skills</h4>
          <p>
          <li>Teamwork.</li>
          <li>Problem solving.</li>
          <li>Empathy.</li>
          </p>
          <h4 id="list-item-7">Languages</h4>
          <p>
            <li>Native Spanish.</li>
            <li>Intermediate English.</li>
            <li>Intermediate German..</li>
            <li>Basic Russian.</li></p>
          <h4 id="list-item-8">References</h4>
          <p>
            <li>Supervising Lic.: Yhanira Vilches, Hospital Pereira Rossell, Montevideo, Uruguay.</li>
            <li>Dra. Gisella Abos-Padilla, Abos-Padilla-Praxis, Mannheim, Deutschland.</li>
            <li>Supervising Lic.: Fernando Garcia, Medica Uruguaya, Montevideo, Uruguay.</li>
            <li>Dr. Aldo Curiqueo, Adventist Clinic von Los Angeles, Chile.</li></p>
          </p>
          <h4 id="list-item-9">Other activities</h4>
          <p>Internships: Sports (Football, Basketball, Table Tennis, Athletics), Music (Piano and Guitar), Dance (Tango).</p>
          
        </div>
      </div>
    </div>
   
  
</body>
</div>
<div class="footer">®2023 by XaRrUa Ltd. All Rights Reserved|  <img src="../../static/img/steto.png" height="15" width="15"><img src="../../static/img/notebook.png" height="15" width="15"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</html>
