<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Josua</title>

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 
  <!--css-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"> 
  <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>

  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../../../index.html"> <img src="../../static/img/home.png" height="30" width="30">Valverde - Health & App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../../../index.html">Home</a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Servicios</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Medico</a>
              <a class="dropdown-item" href="#">Fisioterapia</a>
              <a class="dropdown-item" href="#">Psicologia</a>
              <br>
              <a class="dropdown-item" href="#">Software</a>
              <a class="dropdown-item" href="#">Inmoviliario</a>
              <a class="dropdown-item" href="#">Tango</a>
            </div>
          </li>   
        
          <li class="nav-item">
            <a class="nav-link" href="../../developer.html">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../calculador.html">prueba</a>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Idiomas</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Español</a>
              <a class="dropdown-item" href="#">Ingles</a>
              <a class="dropdown-item" href="#">Alemán</a>
              <a class="dropdown-item" href="#">Ruso</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../../about.html">About</a>
          </li>         
        </ul>
        <span class="navbar-text">
          H & A
        </span>
      </div>
    </div>
  </nav>
  <div class="container">
  <header>
    <div class="d-flex">
      <div class="p-2 flex-fill"><img src="../../static/img/jr.jpg"></div>
      <div class="p-2 flex-fill">
      <br>
      <br>
      <br>
      <h1>JOSUE VALVERDE BELLO</h1></div>
      <div class="p-2 flex-fill"></div>
    </div>
    </header>
    <main>
    
    
    <div class="d-flex justify-content-center">
      <h2>Разработчик программного обеспечения </h2>
      <br>
      <h2> и физиотерапевт</h2>
    </div>
      
    <div class="redes">
      <a href="https://github.com/xarrua/Python-Keepcoding" target="_self"><img src="../../static/img/github.png" height="20" width="30"></a>
      <a href="https://www.linkedin.com/in/josu%C3%A9-valverde-bello-86112876/"><img src="../../static/img/in.png" height="20" width="30"></a>
      <a href="https://www.facebook.com/jvalverdebello"><img src="../../static/img/fb.png" height="20" width="30"></a>
      <a href="https://www.instagram.com/josuvalverde/"><img src="../../static/img/ig.jpg" height="20" width="30"></a>
      <a href=""><img src="../../static/img/mail1.png" height="20" width="30"></a>
      <a href=""><img src="../../static/img/whatsapp.png" height="20" width="30"></a>
      <br>
      <h3>Языки:</h3>
      <a href="../josu.html">Spanish</a>
      <a href="./aleman.html">Deutsch</a>
      <a href="./ruso.html">Русский</a>>>
    <br>
   
    <br>
    </div>
    <div class="row">
      <div class="col-4">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Презентация</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Личная информация</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Опыт работы</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Образование</a>
          <a class="list-group-item list-group-item-action" href="#list-item-5">Курсы:</a>
          <a class="list-group-item list-group-item-action" href="#list-item-6">Soft Skills</a>
          <a class="list-group-item list-group-item-action" href="#list-item-7">Языки:</a>
          <a class="list-group-item list-group-item-action" href="#list-item-8">OРекомендации:</a>
          <a class="list-group-item list-group-item-action" href="#list-item-9">Другие активности</a>
        </div>
      </div>
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
          <h4 id="list-item-1">Презентация</h4>
          <p>Я страстно увлечен своей работой физиотерапевта в области реабилитации лечения мышечно-скелетных и дыхательных заболеваний. Мой клинический опыт включает лечение пациентов с широким спектром заболеваний, от спортивных травм до хронических заболеваний, с опытом в предполагаемой медицинской помощи, экстренной медицине и интенсивной терапии. Я всегда ищу способы улучшения результатов своих пациентов, и это привело меня к изучению технологий и разработки.</p>
          <p>Сегодня я сочетаю свой опыт в физиотерапии с навыками танца (танго) и разработки, чтобы создавать технологические решения, которые помогают пациентам быстрее восстанавливаться и достигать лучших результатов. Я работал над проектами разработки мобильных и настольных приложений, чтобы помочь пациентам отслеживать свои лечения, записывать свои упражнения и получать руководство по своему прогрессу и общему здоровью.</p>
          <p>Кроме того, я люблю учить и делиться своими знаниями. Я преподавал танго и терапию в разных странах и надеюсь интегрировать прогресс технологий в это. Я считаю, что непрерывное образование ключевое для поддержания актуальности в такой меняющейся отрасли, как здравоохранение и технологии.</p>
          <p>Если вы ищете кого-то, кто может сочетать навыки физиотерапии, разработки и другие альтернативы для создания инновационных решений в области здравоохранения, не стесняйтесь связаться со мной. Я бы хотел пообщаться с вами о том, как мы можем работать вместе, чтобы улучшить жизнь людей.</p>
          <h4 id="list-item-2">Личная информация</h4>
          <p>Полное имя: Хосуэ Мануэль Вальверде Белло</p>
          <p>Дата рождения: 12 февраля 1989 г.</p>
          <p>Национальность: уругвайская по рождению, чилийская, эквадорская и (p) испанская по происхождению</p>
          <p>Способ связи: иконки под профилем</p>
          <h4 id="list-item-3">Опыт работы</h4>
          <p>Aktuell - Freelancer: Unabhängiger Entwickler und Physiotherapeut. Praxis, Hausbesuche und Telemedizin seit jeher.</p>
          <p>2022 - Различные государственные и частные здравоохранительные учреждения в Монтевидео, Уругвай. Физиотерапевт в детской больнице Перейра Россель и частных клиниках в Карраско (Платинум, СМС). Осуществляет лечение, в основном, детской физической и дыхательной терапии, включая домашние визиты. </p>
          <p>2021 - Больница Сотеро дель Рио, Сантьяго, Чили. Кинезиолог в отделении терапии COVID-19 для взрослых. Основная функция - экстренная дыхательная терапия и реанимация (искусственная вентиляция легких и управление дыхательными путями). </p>
          <p>2019-2021 - Виза рабочего отпуска в Германии. Фриланс: я выполнял различные рабочие задачи в области частной здравоохранения, танцевальной терапии и уборки в компаниях и домах. Я прошел 4 стажировки в немецкой системе здравоохранения: физиотерапевтическая практика, неврология, дом престарелых и уход на дому. </p>
          <p>2014-2019 - MEDICA URUGUAYA, Монтевидео, Уругвай. Медицинский центр, где я работал в различных областях мутуалиста: главный врач в Центральной поликлинике, но с покрытием в педиатрии, интенсивном уходе и восстановлении после хирургических вмешательств. </p>
          <p>2013-2014 - Клиника Адвентистов Чили. Кинезиолог в поликлинике и стационаре. </p>
          <p>2009-2012 - Помощь в оперативных медицинских коммунальных работах. </p>
          <h4 id="list-item-4">Образование:</h4>
          <p>2023 - Курс Full Stack Python Developer, KeepCoding.</p>   
          <p>2012 - Диплом кинезиолога, Университет Майор, Чили.</p>   
          <p>S2006 - Средняя школа. Центр образования Адвентистов Лос-Анджелеса, Чили.</p>   
    
          <h4 id="list-item-5">Курсы:</h4>
          <p>
            <li>2023 - Курс Full Stack Python Developer.</li>
            <li>2021 - Диплом: Vital and Ventilatory Support in Emergencies.</li>
            <li>2020 - Введение в Java, Python, Html, CSS, JS.</li>
            <li>2019 - Русский язык, Политехнический университет Санкт-Петербурга, Россия.</li>
            <li>2020 - Немецкий язык, языковая школа Balylon, Франкфурт-на-Майне, Германия.</li>
          </p>
          <h4 id="list-item-6">Soft Skills</h4>
          <p>
          <li>Командная работа</li>
          <li>Решение проблем</li>
          <li>Эмпатия</li>
          </p>
          <h4 id="list-item-7">Языки:</h4>
          <p>
            <li>Родной испанский</li>
            <li>Английский - средний уровень</li>
            <li>Немецкий - средний уровень</li>
            <li>Русский - базовый уровень</li></p>
          <h4 id="list-item-8">Рекомендации:</h4>
          <p>
            <li>Лицензированный супервизор: Янира Вильчес, Госпиталь </li>
            <li>Перейра Росселл, Монтевидео, Уругвай.</li>
            <li>AД-р Гиселла Абос-Падилья, практика Abos-Padilla, Мангейм, Германия.</li>
            <li>Д-р Альдо Курикео, Клиника Адвентистов в Лос-Анджелесе, Чили.</li></p>
          </p>
          <h4 id="list-item-9">Другие активности</h4>
          <p>Стажировки: Спорт (футбол, баскетбол, настольный теннис, легкая атлетика), музыка (фортепиано и гитара), танцы (танго).</p>
          
        </div>
      </div>
    </div>
   
  
</body>
</div>
<div class="footer">®2023 by XaRrUa Ltd. Все права защищены |  <img src="../../static/img/steto.png" height="15" width="15"><img src="../../static/img/notebook.png" height="15" width="15"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</html>
