

body {
  
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: linear-gradient(290deg, #00c6e3 0%, #4e95f1 50.37%, #9966ff 100%);
  font-family: "Roboto", sans-serif;
}
main {
  display: grid;
  gap: 20px;
  width: 85%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 32px 16px rgba(90, 95, 101, 0.3);
  padding: 0;
  margin: 10;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
  text-align: center;

}