<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
 
  <!--css-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"> 
  <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
  <nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html"> <img src="../static/img/Valverde km.jpg" height="30" width="30">Valverde - Health & App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
          </li>       
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Servicios</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Medico</a>
              <a class="dropdown-item" href="#">Fisioterapia</a>
              <a class="dropdown-item" href="#">Psicologia</a>
              <br>
              <a class="dropdown-item" href="#">Software</a>
              <a class="dropdown-item" href="#">Inmoviliario</a>
              <a class="dropdown-item" href="#">Tango</a>
            </div>
          </li>   
        
          <li class="nav-item">
            <a class="nav-link" href="./developer.html">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./calculador.html">prueba</a>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Idiomas</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="#">Español</a>
              <a class="dropdown-item" href="#">Ingles</a>
              <a class="dropdown-item" href="#">Alemán</a>
              <a class="dropdown-item" href="#">Ruso</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about.html">About</a>
          </li>         
        </ul>
        <span class="navbar-text">
          H & A
        </span>
      </div>
    </div>
  </nav>
  <div class="container">

    <h1>Sobre mí</h1>
  </p>
  <img src="../static/img/uru.jpg" height="200" width="200">
  
  <div class="about">
    <a href="https://github.com/xarrua/Python-Keepcoding" target="_self"><img src="../static/img/github.png" height="20" width="30"></a>
    <a href="https://www.linkedin.com/in/josu%C3%A9-valverde-bello-86112876/"><img src="../static/img/in.png" height="20" width="30"></a>
    <a href="https://www.facebook.com/jvalverdebello"><img src="../static/img/fb.png" height="20" width="30"></a>
    <a href="https://www.instagram.com/josuvalverde/"><img src="../static/img/ig.jpg" height="20" width="30"></a>
    <a href="./josu.html">CV-Aquí</a>    <a href="./servicios/tango.html">Tango</a>    <a href="./josu.html">FST</a>
  </div>
  
  <h3>Línea de Tiempo</h3>
  <p>Hola! Mi nombre es Josué Valverde Bello. Nací en Montevideo, Uruguay en 1989. Provengo de una familia algo nomade, ya que mi abuelo paterno es Uruguayo, mi abuela ecuatorina y padres y resto de la familia materna son todos Chilenos. Es por esta razón que he vivido en muchos paises comenzando por Uruguay, Ecuador y Chile donde realice la mayor parte de mi infancia y estudios. </p>
  <img src="../static/img/Valverde km.jpg"  height="140" width="140">
  
  <p>Durante mi infancia destacare participacion activa dentro de los deprotes a nivel competitivo como: Voleyball, Tenis de Mesa, Atletismo y músical tanto en coros, conjuntos y orquestas. Esta ultima pese a tener estudios básicos de piano fue en flauta tenor y caja (guitarra autodidacta).</p>
  <p>Realice mis estudios básicos y secundarion en Los Ángeles, Chile donde posteriormente me traslade a Concepci+on y Temuco a realizar la Carrera de Kinsiología en  la Universidad Mayor.</p>
  <img src="../static/img/posta1.jpg"  height="140" width="140">
  <img src="../static/img/posta.jpg"  height="140" width="140">
  <p>Cuando termine la secundaria tuve planes de estudiar medicina en Argentina por lo que prepare la prueba de ingreso pero no me presente porque no estaba seguro que estudiar. Por lo que entre a estudiar Kinesiología en la universidad de LA, donde al gustarme al año siguien me traslade de sede a Concepcion donde iria mi herman al año siguiente pero como quedo en Temuco termine cambiandome de univ </p>
  <img src="../static/img/maraton3.jpg"  height="140" width="140">
  <p>Con padre médico desde niño acompañabamos en operativos medicos sociales donde  ayudabamos con otros profesionales a comunidades necesitadas de forma gratuita durante un fin de semana. En la univeridad hicimos algunos como estudiantes de año avanzado dando charlas educativas. En el tiempo libre durante la universidad hacia deportes y bailaba tango. Cosa que empece en la universida y segui haciendolo parte de un estudio que se presento como tango terapia en adultos mayores y pacientes con Parkinson.</p>
  <p>Al terminar la universidad volvimos a Los Angeles con mi hermana, ambos estudiamos, terminamos y graduamos el mismo día pero en universidades distinas. En Los Ángeles trabaje part time en la clinica Adventista como pueden ver en mi CV. Pero al pasar de un año buscando trabajo en todo Chile y con conocimiento de la dificil situacion para mi carrera en cuanto a poco trabajo y muchos profesionales. Pedian 2 años de experiencia y muchos cursos y magister para muchos de estos puesto. Por lo que decidi ir a Uruguay.</p>

  <img src="../static/img/titulo.jpg"  height="140" width="140">
  <p>En Uruguay hice pequeñas cosas mientras revalidaba mi titulo por lo que mientras salia este tramite tambien trabaje en USA ayudando en la construccion y al volver y dejar CV me llamaron de todos lados porque hay menos universidades y profesionales a diferencia y con mucho trabajo. Llegue a tener 3 trabajos y hacia guardias de domingo a viernes 12 horas.</p>
  <p>Durante el invierno hice varios años plan invierno ya que el internado en Chile lo hice en sala IRA, lugar donde se atienden de forma ambulatoria niños con problemas respiratodios y el hospital Pereira Rossell que es pediatrico contrata durante el invierno con un sistema mas parecido al Chile a diferencia de todo Uruguay con trabajo activo y dinamico no limitado como otros lugares que trabaje. Hacia pediatria de mañana y adultos de tarde. En la Médica Uruguaya cubri todas las areas de complejidad antes de ser titular en policlinica, como por ejemplo: ICI que es sector de Cirugía Cardiaca, cuidados intensivos adultos y pediatricos, piso general y policlinicas perisfericas.</p>
  <img src="../static/img/vni.jpg" >
  <p>Trabajando como Fisioterapeuta en cuidados intermedios VNI Pediatria</p>
  
  <p>Dentro de mi tiempo libre que era poco igual iba a un club hacer voleyball, box, jiu jitsu, natacion y gym cuando no estaba bailando Tango. Trabaje tanto que el año que tuve que hacer la declaracion de impuesto tuve que pagar mucho por lo que me quede solo con un trabajo y aproveche de hacer medicina y SODRE (Escuela nacional de danza, division tango). Ambas cosas las deje ya que no me gusto el funcionamiento en general y falta de compromiso. Me di cuenta que por mi cuenta podia aprender y bailar mas y empece a viajar a Europa y lugares con tango durante mis vaciones.</p>
 
  <p>Mi primer viaje hice un tur desde Roma  a Londres y me di cuenta que tambien no convenia, por mi cuenta aprovechaba mas el tiempo y era mas barato. Conoci un argentino con quien iria a Rusia al año siguiente a ver el mundia y siempre conocer gente mientras bailaba tango y aprendia idiomas.</p>
  <img src="../static/img/londres.jpg"  height="240" width="440">
  
  <p>A difencia de Europa occidental que es mas caro y menos amigable la gente al ser nacionalista y preferir hablar sus idiomas que el ingles, me gusto mas Europa del este, la gente se interesaba mucho por los latinos y habia mas gente joven bailando Tango, tuve varias novias que me ayudaron y motivaron aprender idiomas. De rusia volvi con una con la que baile en el mundial de tango y teatro, y por  la cual me fui un tiempo despues a Rusia, estudie en la Universidad ruso pero el idioma, la falta de trabajo me hicieron dejar y trasladarme a otros paises.</p>
  <img src="../static/img/odesaa.jpg"  height="450" width="350">
  <p>Estuve entre Polonia y Ukrania un tiempo buscando trabajo y ganas de quedarme por la gente en el tango. Como no consegui pese que muchos hablan ingles y algunos español. Encontre una visa que se podia postular desde fuera, quizas la unica que se puede aplicar fuera del país de residencia en Alemania. Mi idea era trabajar y voler al Este pero la pandemia y despues la guerra me lo impidio.</p>
  <img src="../static/img/Odesa1.jpg"  height="140" width="140">
  <p>En alemania estuve primero en Mannheim, donde una familia de conocidos donde hice los primeros tramites para poder trabajar y usar la visa, hice pasantias en consultas de Fisioterapeutas, Neurologia y como ayudante de enfermeria domiciliaria y casi al final de mi estadia en hogar de anciano.</p>

  <p>Las ciudades pequeñas son mas dependientes del idiomas, hay menos gente que habla ingles y dificil conseguir trabajo por lo que me traslade a Berlin que tambien tiene mas Tango y trabaje como Freelancer en empresa de limpieza, tango particular y todo lo que pudiera hacer. Me costo encontrar trabajo por no trabajar los sabados y muchos lugares tanto como para alquilar preferian mujeres, por lo que es un poco mas cara la vida y dificil principalmente por el alquiler. Cuando empezo a llegar la pandemia intente irme del pais antes de quedarme sin trabajo pero quede atrapado y volvi finalmente a Mannheim donde recien comence a estudiar aleman y hacer trabajitos de todo tipo.</p>
  
  <p>Cuando finalmente pude volver fue a Chile, donde pude trabajar en Urgencia con Paciente COVID. Antes de dejar Chile habia intentado de especializarme en urgencia, ventilacion mecanica y area de paciente critico pero es el area mas dificil de conseguir trabajo. La pandemia tuvo falta de profesionales por lo que pude aplicar y refozar mis conocimientos en esta area y ayudar a muchas personas. Todo cambio con la vacuna, donde mas de la mitad nos quedamos sin trabajo. Intente buscar trabajo pero volvi a intentar a fuera</p>
  <img src="../static/img/piloto.jpg"  height="140" width="140">
  <p>Una vez de vuelta en Uruguay donde tenia que realizar un tramite de papeles, consegui trabajo y me quede un año pero con menos trabajo que la primera vez. Por lo que estuve un año trabajando en 3 lugares y bailando en el timpo libre pero la vida es muy cara en comparacion a otros paises, pero ademas de disfrutar mis amistades pude cumplir el sueño de volar alrederor de montevideo, cosa que siempre habia querido pero cuando averigue para tomar clases habian caido 2 avionetas. Mi abuela estuvo mal de salud y 2 murieron en años anteriores por lo que un viaje pendiente que tenia a Ecuador y cancelado varias veces por Covid pude realizarlo finalmente.</p>
  <img src="../static/img/avion1.jpg"  height="140" width="140">
  <p>En Ecuador la situacion esta muy mal en cuanto a inseguiridad, pero tengo familia, lugar y buena comida por lo que ayude a mi familia en general con fisioterapia y evolucionaron bien. Inicie el tramite de revalida pero sin intenciones de proyectarme ya que la primera semana me secuestraron y la situacion general no es muy alentadora. Comence curso de Programacion en Python, idioma y otras cosas que comence aprender durante la pandemia en Alemania, trabaje en lugares de IT muy prometedores por lo que decidi cambiar o complementar mis concocimiento con desarrollo web.</p>
  <img src="../static/img/s.gif"  height="140" width="140">
  <p>Mientras realizo mi Bootscamp estoy aprendiendo cosas complementarias que me permiten realizar programas relacionadas la salud y mi web que me permitiran buscar trabajo idealmente remoto. </p>
  <p>Continuara....</p>
  
  
  </div>
  <div class="footer">®2023 by XaRrUa Ltd. All Rights Reserved|  <img src="../static/img/steto.png" height="15" width="15"><img src="../static/img/notebook.png" height="15" width="15"></div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  
</body>

</html>

