<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/calculador.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/calculador.css">
    <title>Menu</title>
</head>


<body>
    <main>   
        
    
        <div class="centrar">
            <h1>Calcula tus valores personalizados    </h1> 
                <a style="display: block;" href="Index.html">atras</a>   
            

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2fiLxnPbQRJ24PmeujykjEkgkVcOfsxX-bw&amp;usqp=CAU" target="_blank">
            <p>Indice de Masa Corporal: <a href="IMC.html">IMC</a></p>
            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaaXkMG92TH2LG65lHy7DfbUHC56UxqL-gTPxgLZViSN0j5T_ndigkZFuPcJyKEMzFB24&amp;usqp=CAU" target="_blank">
            <p>Frecuencia Cardiaca Maxima Teorica y aplicacion: <a href="FCmax.html">FC</a></p>
            
            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnMjbbacLR0ZaXL5u5gsW-Bg7YMau1YXN1pQ&amp;usqp=CAU" target="_blank">
            <p>Gravedad de Obstrucción: <a href="ScoreDeTal.html">Score de Tal</a></p
            
            
            
         
            <p>Repositorio de Python</p>
            <a href="https://github.com/xarrua/Python-Keepcoding" tarjet="_self">Python repository</a>
           
            <img src="../static/img/Welcome.mp4"></a>
            <h3>Josué Valverde Bello</h3>

        </div> 
        
    </main>
    <script src="/static/js/calculador.js"></script>
    <p> XaRrUa® Todos los derechos reservados 2023</p>

</body>
</html>
